
.DS_Store
.Rhistory
*.pyc
__pycache__/*
 foobar.RDS
.ipynb_checkpoints/quantseq_workflow-checkpoint.sh
.ipynb_checkpoints/slamseq_workflow-checkpoint.sh
conda.env.py27.txt
vbcf_download.sh
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp.zip
covid/agecasesnational.csv
covid/agecasesubnational.csv
covid/Austria_sub.png
covid/casedistribution.csv
covid/COVID19_files/figure-html/austria-1.png
covid/COVID19_files/figure-html/eu-1.png
covid/COVID19_files/figure-html/europe-1.png
covid/COVID19_files/figure-html/germany-1.png
covid/COVID19_files/figure-html/global-1.png
covid/COVID19_files/figure-html/greece-1.png
covid/COVID19_files/figure-html/italy-1.png
covid/EU_sub.png
covid/europe.png
covid/Germany_sub.png
covid/Greece_sub.png
covid/hospitalicuadmissionrates.csv
covid/Italy_sub.png
covid/movementindicators.csv
covid/nationalcasedeath.csv
covid/ref-nuts-2021-01m.shp/metadata.pdf
covid/ref-nuts-2021-01m.shp/metadata.xml
covid/ref-nuts-2021-01m.shp/NUTS_AT_2021.csv
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035.shp.zip
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp/NUTS_RG_01M_2021_3035_LEVL_1.cpg
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp/NUTS_RG_01M_2021_3035_LEVL_1.dbf
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp/NUTS_RG_01M_2021_3035_LEVL_1.prj
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_1.shp/NUTS_RG_01M_2021_3035_LEVL_1.shx
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp.zip
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp/NUTS_RG_01M_2021_3035_LEVL_2.cpg
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp/NUTS_RG_01M_2021_3035_LEVL_2.dbf
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp/NUTS_RG_01M_2021_3035_LEVL_2.prj
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_2.shp/NUTS_RG_01M_2021_3035_LEVL_2.shx
covid/ref-nuts-2021-01m.shp/NUTS_RG_01M_2021_3035_LEVL_3.shp.zip
covid/ref-nuts-2021-01m.shp/NUTS_RG_BN_01M_2021.csv
covid/ref-nuts-2021-01m.shp/release-notes.txt
covid/subnationalcasedaily.csv
covid/subnationalcaseweekly.csv
covid/testing.csv
covid/world.png
